<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delivery Platform</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <!-- Website Logo -->
          <a href="#" class="flex items-center py-4 px-2">
            <svg class="h-8 w-8 mr-2 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V7.618a1 1 0 01.553-.894L9 4m0 16l5.447 2.724A1 1 0 0015 23h4a1 1 0 001-1v-8a1 1 0 00-.553-.894L9 10v10zM9 4l5.447-2.724A1 1 0 0115 1h4a1 1 0 011 1v8a1 1 0 01-.553.894L9 14V4z"></path></svg>
            <span class="font-semibold text-gray-500 text-lg">Cocolis</span>
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <a href="" class="py-4 px-2 text-blue-500 border-b-4 border-blue-500 font-semibold ">Home</a>
          <a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Services</a>
          <a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">About</a>
          <a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Contact Us</a>
          <a href="/admin" class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Dashboard</a>
        </div>
      </div>
      <!-- Secondary Navbar items -->
      <div class="hidden md:flex items-center space-x-3 ">
        <a href="" class="py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-400 transition duration-300">Post a Package</a>
        <a href="/admins/sign_in" class="py-2 px-2 font-medium text-gray-500 hover:text-gray-900 transition duration-300">Log In</a>
      </div>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<div class="bg-white h-screen flex flex-col justify-center items-center">
  <h1 class="lg:text-5xl md:text-4xl sm:text-3xl text-2xl font-black mb-14">
    Fast & Reliable Delivery for Your Packages
  </h1>
  <a href="" class="py-6 px-10 bg-blue-500 rounded-full text-3xl hover:bg-blue-400 text-white transition duration-300 ease-in-out flex items-center animate-bounce">
    Order Now
    <svg class="w-6 h-6 ml-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
  </a>
</div>
</body>
</html>
